.home{
    padding-right: 10vh;
    padding-left: 10vh;
    padding-bottom: 20vh;
    margin: 5vh;
}
.navbar-brand{
    padding-left: 10vh;
}

.nav-item{
    padding-left: 60vh;
}

.nova{
    padding-top: 50vh;
}

.doAdmin{
    padding-top: 10vh;
}

.formulario{
   padding-top: 5vh;
    padding-left: 14vh;
    padding-bottom: 30vh;
}

label{
    padding: 10px;
    text-align: justify;

}

#area{
    padding-left: 70vh;
}

.erro{
    color: red;
}

.topz{
    color: white;
}

fieldset{
    text-align: justify;
    justify-content: center;
}

#centralizar{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}

.titulo{
    color: crimson;
}

.inline{
    display: flex;
    display: inline-block;
}

.altura{
    padding-left: 10vh;
    padding-right: 10vh;
    height: 40%;
    width: 30%;
}

.par{
    margin-left: 20vh;
    margin-right: 20vh;
}

body{
    background: #2f1344;
}

.cyber{
    padding-top: 6vh;
}

.textoCyber{
    font-family: "Yu Gothic UI";
    text-decoration-color: #2f1344;
}

.finalizar{
    padding-top: 10vh;
}