<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="fragments/commons :: header"></div>


    <h2>Edição de Alimentos</h2>
    <form method="post" th:object="${alimento}" th:action="@{/salvar}" enctype="multipart/form-data">
      <input type="text" readonly name="id" th:field="*{id}"> <br />
        Nome: <input type="text" name="nome" th:field="*{nome}"> <br />
        Tipo: <input type="text" name="tipo" th:field="*{tipo}"> <br />
        peso: <input type="text" name="peso" th:field="*{peso}"> <br />
        Fornecedor: <input type="text" name="fornecedor" th:field="*{fornecedor}"> <br />
        Imagem: <input type="file" name="file"/><br />
      <button type="submit">Enviar</button>
    </form>

    <div th:replace="fragments/commons :: footer"></div>

</body>
</html>